:root {
  --background: #000000;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Ensure the page is scrollable */
}
:root {
  --ant-primary-color: #93e145 !important;
}

.ant-menu-item-selected {
  background-color:#93e145 !important;
  color: white !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
